{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block navigation %}
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin.recipe' %}active{% endif %}" aria-current="page" href="{{ path('admin.recipe.index') }}">Administration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin.recipe' %}active{% endif %}" aria-current="page" href="{{ path('admin.recipe.index') }}">Recettes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if app.request.attributes.get('_route') starts with 'admin.category' %}active{% endif %}" aria-current="page" href="{{ path('admin.category.index') }}">Catégories</a>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="container my-4">
        {% include 'partials/flash.html.twig' %}
        {% block main_body %}{% endblock %}
    </div>
{% endblock %}
